*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-padrao: verdana;
    --font-cor-titulo: #ffff;
}

#one{
    background-color: #3D5AFE;
    height: 200px;
    margin: 20px 20px 20px 20px;
}

.flex {
    display: flex;
}

h1, h5 {
    width: 50vw;
    height: 30px;
    margin: auto;
    padding: 50px;
    font-family: var(--font-padrao);
    color: var(--font-cor-titulo);
    justify-content: center;
}

/* //---------------------------------- */
fieldset {
    padding: 2px;
    border: none;
    
}
section#formulario {
    margin: 30px auto;
    padding: 5px;
    width: 50vw;
}

form {
    width: 100%;
    height: auto;
    padding: 2px;
    font-family: var(--font-padrao);
    
}

label {
    display: block;
    width: 100%;
    height: auto;
    padding: 2px;
}

.txt {
    width: 100%;
    height: 30px;
}

.centro {
    width: 200px;
    height: 50hw;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    margin-top: 100px;
}

.btn {
    width: 80%;
    height: 30px;
    margin: 20px;
    background-color: #2196F3;
    font-family: var(--font-padrao);
    color: var(--font-cor-titulo);
    
}